@import "../../style/contextAppear";

.dropdown {
    position: relative;

    > .face {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > .tick {
            width: .79rem;
            height: .44rem;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            transition: transform .25s ease-in-out;

            &[data-is-open="true"] {
                background-image: url("/assets/graphics/dropdown_blue.svg");
                transform: rotateZ(180deg);
            }

            &[data-is-open="false"] {
                background-image: url("/assets/graphics/dropdown.svg");
            }
        }
    }

    > .dropped {
        @extend .context-appear;
        position: absolute;
        width: 100%;
        background-color: #FFF;
        box-shadow: 0 0 16px 1px rgba(#000, .16);
        cursor: initial;
    }
}
