.edit-stage-management {
    &__back {
        width: 100%;
        height: 5.5rem;
        top: $header-height;
        padding-left: 2.2rem;
        display: flex;
        align-items: center;
        background-color: #FFF;
        border-bottom: 1px solid #E8E8E8;
        position: fixed;
        z-index: $zindex-subheader;

        .btn[data-color="white"] {
            box-shadow: none;
            background-color: transparent;
            border: none;
            padding: 0;
            transition: .15s ease-in;
            margin: 1.18rem 1.2rem 1.18rem 0;
            min-height: initial;

            .icon svg image {
                filter: none;
            }

            svg, image {
                width: 1.33rem;
                height: .93rem;
            }

            &:hover {
                transform: translateX(-.3rem);
            }
        }
    }

    .stage-management {
        .top-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: calc(3.9rem + 5.5rem) 0 3.2rem;

            &__text {
                font-size: 2rem;
                font-weight: 600;
                margin: 0;

                &-optional {
                    font-size: 1.28rem;
                    color: $brighter-main-text-color;
                    margin-left: .3rem;
                    font-weight: 500;
                }
            }

            &__right {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .btn {
                    margin-left: 2rem;
                }
            }
        }
    }

    ~ .footer {
        width: 85%;
        max-width: 89.3rem;
        margin: 0 auto;
    }
}
