.project-invitations {
    &__main {
        width: 89.2rem;
        max-width: 85%;
        margin: 0 auto;
    }

    &__title {
        font-size: 2rem;
        font-weight: 600;
        margin: 3.9rem 0 2.45rem;
    }

    &__grid {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, 28.4rem);
        grid-auto-rows: minmax(13.85rem, auto);
        grid-gap: 3.5rem 2rem;
        justify-content: center;

        @include is-tablet {
            grid-gap: 2.5rem 2rem;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        margin: 3rem 0 5rem;

        .btn {
            @include is-tablet {
                font-size: 1.07rem;
            }

            &:first-of-type {
                margin-right: 2rem;
            }
        }

        .btn[data-color="white"] {
            [data-icon-name="close-red"] {
                filter: var(--icon-red);

                &.left {
                    margin-right: .3rem;
                }

                svg, image {
                    width: 1.64rem;
                    height: 1.64rem;
                }
            }

            &:hover {
                color: $red-text;
            }

            &:disabled {
                background-color: #FFF;
                color: $brighter-main-text-color;

                .icon {
                    filter: invert(.5) brightness(1);
                }

                &:hover {
                    color: $brighter-main-text-color;
                }
            }
        }
    }
}
