.company-forms--history {
    .form {
        .input {
            &-container {
                @include is-tablet {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr;
                    grid-gap: 2.1rem 2.71rem;
                }
            }

            &-text {
                display: flex;
                flex-direction: column;
                margin-bottom: 1rem;

                @include is-tablet {
                    margin-bottom: 0;
                }

                &-header {
                    font-size: 1rem;
                    margin-top: .58rem;
                    color: $dark-grey-text;
                    flex-grow: 1;

                    @include is-tablet {
                        font-size: .93rem;
                    }
                }

                &-input {
                    font-size: .86rem;

                    &::placeholder {
                        font-size: .86rem;
                        color: $brighter-main-text-color;
                    }
                }
            }
        }

        .radio {
            &-container {
                display: flex;
                flex-direction: column;
            }

            &-text {
                font-size: 1rem;
                color: $dark-grey-text;
                line-height: 1.36rem;
                padding-bottom: 1.4rem;
                margin-top: 1.4rem;
                flex-grow: 1;

                @include is-tablet {
                    font-size: .93rem;
                    margin-top: .4rem;
                }
            }
        }

        &-marketing {
            margin-top: 2.8rem;
            padding-top: .5rem;
            border-top: 1px solid $border-color;

            .form__header {
                margin-top: 2.5rem;
            }
        }
    }
}
