.construction-requirements {
    width: 100%;
    height: auto;
    background-color: #FAFBFF;
    padding-top: 10rem;

    .question {
        font-size: 1.93rem;
        font-weight: 600;
        text-align: center;
    }

    .tiles {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 1.7rem auto 0;
        max-width: 85%;
    }

    .navigation {
        display: flex;
        justify-content: flex-end;
        width: 69.87rem;
        max-width: 85%;
        margin: 2.9rem auto 1rem;

        &__row-btns {
            display: flex;
            gap: 1.5rem;
        }
    }
}
