.side-modal[data-variant="task-action"] {
    .checklist {
        &.checklist--btn {
            width: initial;
            background-color: #FFF;
            padding: 25px 0 21px;
            margin: 0 2.21rem 0 2rem;
            border-top: 0;

            @include is-tablet {
                padding: 1.85rem 0 1.5rem;
            }

            .yes-no {
                padding-left: .5rem;
                gap: .5rem;
            }

            .checklist__item {
                grid-template-columns: .4fr 5.5fr 1.1fr;
                margin-bottom: 1.6rem;

                &:last-of-type {
                    margin-bottom: 0;
                }

                .checkbox-radio {
                    display: flex;
                    justify-content: space-between;
                    text-align: right;
                    gap: .5rem;

                    &-option {
                        margin: 0;
                    }

                    &-input {
                        margin: 0;
                    }
                }
            }
        }

        &__title {
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 1.65rem;

            @include is-tablet {
                font-size: 1.14rem;
            }
        }

        &__header {
            display: grid;
            grid-template-columns: .4fr 5.5fr 1.1fr;
            font-size: 11px;
            border-bottom: 1px solid #E3E3E3;
            padding-bottom: 14px;
            margin-bottom: 14px;

            @include is-tablet {
                font-size: .78rem;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
            }

            .yes-no {
                display: flex;
                justify-content: space-between;
                text-align: right;
            }

            > div {
                margin-right: .5rem;

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }

        &__body {
            display: flex;
            flex-direction: column;

            .name {
                word-break: break-word;
            }
        }
    }
}
