.action-block-summary {
    width: 100%;
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    padding: 18px 2.21rem 18px 2rem;
    background-color: #FAFBFF;

    @include is-tablet {
        padding: 1.3rem 2.21rem 1.3rem 2rem;
    }

    &__title {
        font-size: 13px;
        font-weight: 500;
        margin-bottom: .8rem;

        @include is-tablet {
            font-size: .93rem;
        }
    }

    &__desc {
        font-size: 11px;
        color: $brighter-main-text-color;

        @include is-tablet {
            font-size: .78rem;
        }
    }

    &[data-is-status="rejected"] {
        background-color: $red-text-bg;
    }
}
