.client-settings--account {
    padding-bottom: 3.5rem;

    .client-settings {
        &__header {
            margin-bottom: 3.6rem;
        }

        &__subheader {
            font-size: 1.14rem;
        }

        &__password {
            width: 100%;
        }

        &__new-password {
            width: 100%;
            gap: 0 1.5rem;

            @include is-tablet {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        }

        &__btn {
            margin: .57rem 0 2.8rem;
            // padding-bottom: 3.15rem; // TODO
            width: 100%;
            // border-bottom: 1px solid rgba(112, 112, 112, .15);

            .btn {
                margin-left: auto;
                padding: .5rem 1.28rem .5rem 1.64rem;

                image, svg {
                    width: 1.33rem;
                    height: .93rem;
                }
            }
        }

        &__delete {
            .client-settings__subheader {
                margin-bottom: 1.2rem;
            }
        }

        &__text {
            color: $brighter-main-text-color;
            font-size: .93rem;
            display: flex;
            align-items: center;
            gap: 0 .3rem;
            flex-wrap: wrap;

            .btn {
                color: $red-text;
                font-weight: 400;
                font-size: .93rem;

                .text:after {
                    background-color: $red-text;
                }
            }

            &:first-of-type {
                margin-bottom: .5rem;
            }
        }
    }

    .input-text {
        @include is-tablet {
            width: 30.3rem;
        }
    }

    .input-text-input {
        margin-bottom: 2.2rem;
        border-radius: .43rem;
        color: $brighter-main-text-color;
    }
}
