.company-forms--resource {
    .form {
        &__row {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 2.71rem;

            @include is-tablet {
                flex-direction: row;
            }

            &-item {
                flex: 1;

                &:nth-child(1) {
                    margin-right: 2.82rem;
                }

                .textarea {
                    &__header {
                        margin-bottom: 1rem;
                        font-size: 1rem;
                        color: $dark-grey-text;

                        @include is-tablet {
                            font-size: .93rem;
                        }
                    }

                    &__input {
                        flex: 1;
                    }
                }

                .checkbox-multiple {
                    &-option {
                        width: auto;
                        color: $dark-grey-text;
                        margin-bottom: 1.5rem;
                        margin-right: 2.7rem;
                        padding: 0;
                    }

                    &-checkbox {
                        width: 1.4rem;
                        height: 1.4rem;
                        margin: 0 .66rem 0 0;

                        @include is-tablet {
                            width: 1.14rem;
                            height: 1.14rem;
                        }
                    }
                }

                &-text {
                    margin: 1rem 0 1.1rem;
                    line-height: 1.36rem;
                    font-size: 1rem;
                    color: $dark-grey-text;

                    @include is-tablet {
                        font-size: .93rem;
                        margin: 0 0 1.1rem;
                    }

                    &-optional {
                        color: $brighter-main-text-color;
                    }
                }
            }
        }

        .checkbox-radio {
            margin-bottom: 2.8rem;
            font-size: .93rem;
        }

        &__add {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 2.5rem 0 2.8rem;

            &-title {
                font-weight: 600;
                color: $dark-grey-text;
            }

            .form__row-item-text {
                margin-bottom: 0;
            }

            .btn--circle {
                margin: 0 0 0 1.7rem;

                svg, image {
                    width: 1.14rem;
                    height: 1.14rem;
                }
            }
        }

        .company {
            @include block;
            padding: 2rem 2rem 2.2rem;
            margin-top: 1.3rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 0 2rem;
            animation: fade-in .15s ease-in;
            position: relative;

            &__title {
                width: 100%;
                font-weight: 600;
                margin: .42rem 0;
                color: $navy-blue-text;
            }

            .input-text {
                width: calc((100% - 2rem) / 2);
                margin: 1.3rem 0 .2rem;
            }

            .btn--circle {
                position: absolute;
                top: 1.2rem;
                right: 1.9rem;
                width: 3.23rem;
                height: 3.23rem;

                svg, image {
                    width: .86rem;
                    height: .86rem;
                }
            }
        }

        &-resources {
            margin-top: 4.2rem;

            .form__header {
                margin-bottom: 1.3rem;
            }

            .input {
                &-header {
                    margin: 0;
                    font-weight: 600;
                }

                &-container {
                    display: grid;
                    grid-template-columns: 1fr 1fr 2.57rem;
                    grid-template-rows: 1fr;
                    gap: .6rem 1.2rem;
                    position: relative;
                    padding-bottom: .6rem;
                    align-items: center;

                    @include is-tablet {
                        grid-template-columns: 1fr 1fr 3.57rem;
                        align-items: initial;
                    }

                    &-labels {
                        display: grid;
                        grid-template-columns: 1fr 1fr 2.57rem;
                        grid-template-rows: 1fr;
                        gap: .6rem 1.2rem;
                        font-size: .93rem;
                        font-weight: 500;
                        color: $dark-grey-text;
                        margin: 2.6rem 0 .2rem;

                        @include is-tablet {
                            grid-template-columns: 1fr 1fr 3.57rem;
                        }
                    }

                    .btn--circle {
                        width: 2.23rem;
                        height: 2.23rem;
                        grid-column: 3/3;

                        @include is-tablet {
                            width: 3.23rem;
                            height: 3.23rem;
                            margin-top: auto;
                        }

                        svg, image {
                            width: .86rem;
                            height: .86rem;
                        }
                    }
                }
            }
        }
    }
}
