.draft-details--design {
    padding-bottom: 3.2rem;
    gap: 1.3rem 5.5%;

    .draft-details {
        &__info {
            margin: 0;

            &-file {
                display: flex;
                align-items: center;
                gap: 1rem;

                &-name {
                    color: $navy-blue-text;
                    word-break: break-word;
                    font-size: 1.14rem;
                    font-weight: 500;
                    max-width: 16rem;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }

                &-img {
                    width: 1rem;
                    height: auto;
                    cursor: pointer;
                    transition: all .12s ease-in;

                    &:hover {
                        filter: brightness(2);
                    }
                }
            }

            &-label {
                margin-top: .5rem;
            }
        }
    }
}
