.pm-materials {
    .table-switch {
        &[data-is-collapsed="false"] {
            .table-switch__heading {
                display: flex;
                flex-direction: column;
                padding-right: 0;

                @include is-tablet {
                    display: grid;
                    padding: .85rem 0 1.06rem 1.4rem;
                }
            }

            .materials-header__info-hover {
                right: -8%;
            }
        }

        &__extended {
            margin-top: 0;
        }

        &__heading {
            overflow: initial;
            padding: 16px 22px 22px;
            grid-template-columns: 1.2fr auto;

            @include is-tablet {
                grid-template-columns: 1fr auto;
                padding: .85rem 1.56rem 1.06rem 1.4rem;
            }

            &:after {
                border-radius: 6px 0 0 6px;
            }
        }

        &__col {
            margin-right: 4%;

            @media screen and (min-width: 1300px) {
                margin-right: 2rem;
            }
        }

        &__details {
            display: block;

            @include is-tablet {
                display: grid;
                grid-template-columns: auto auto;
            }

            &[data-is-hidden="true"] {
                display: grid;
                grid-template-columns: auto;

                .materials-details--bar {
                    display: none;
                }

                .btn[data-color="blue"] {
                    margin-top: 22px;

                    @include is-tablet {
                        margin-top: -.6rem;
                    }
                }
            }

            .btn[data-color="transparent"] {
                display: none;

                @include is-tablet {
                    display: flex;
                }
            }
        }
    }

    .materials-header {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        position: relative;
        padding: .3rem 0;

        &__title {
            font-size: 16px;
            font-weight: 600;
            word-break: break-word;
            margin-right: 1rem;

            @include is-tablet {
                font-size: 1.14rem;
            }
        }

        &__info {
            align-self: flex-end;

            @include is-tablet {
                align-items: initial;
            }

            &-icon {
                width: 22px;
                height: 21px;
                border-radius: 50%;
                transition: box-shadow .12s ease-in;
                cursor: pointer;

                @include is-tablet {
                    width: 1.57rem;
                    height: 1.5rem;
                }

                svg, image {
                    width: 22px;
                    height: 21px;

                    @include is-tablet {
                        width: 1.57rem;
                        height: 1.5rem;
                    }
                }

                &:hover {
                    box-shadow: 0 2px 6px rgba(0, 0, 0, .15);

                    .icon {
                        filter: none;
                    }

                    + .materials-header__info-hover {
                        opacity: 1;
                        transition: .2s ease-in;
                    }
                }
            }

            &-hover {
                @include block;
                position: absolute;
                top: 110%;
                right: -41%;
                width: 208%;
                max-width: 240px;
                font-size: 11px;
                line-height: 18px;
                word-break: break-word;
                color: $brighter-main-text-color;
                border: 1px solid #E8E8E8;
                padding: 11px 14px;
                opacity: 0;
                z-index: 2;
                pointer-events: none;

                @include is-tablet {
                    width: 194%;
                    max-width: 31rem;
                    right: initial;
                    left: 54%;
                    font-size: .86rem;
                    line-height: 1.5rem;
                    padding: .9rem 1rem;
                }

                @include is-pc {
                    left: calc(100% - 1.7rem);
                }
            }
        }
    }

    .materials-desc {
        padding-left: 2.6rem;
        margin-top: 8px;
        font-size: 12px;
        color: $brighter-main-text-color;
        animation: fade-in .2s ease-in;

        @include is-tablet {
            margin-top: .15rem;
            font-size: .86rem;
        }
    }

    .materials-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        .btn[data-color="transparent"] {
            font-size: .93rem;

            .icon {
                filter: var(--icon-blue);

                svg, image {
                    width: 12px;
                    height: 12px;

                    @include is-tablet {
                        width: .86rem;
                        height: .86rem;
                    }
                }

                &.left {
                    margin-right: .4rem;
                }
            }

            &:hover {
                .icon {
                    filter: var(--icon-blue);
                }
            }
        }

        .btn[data-color="blue"] {
            font-size: 16px;
            padding: 13px 15px;

            @include is-tablet {
                font-size: 1.16rem;
                padding: .5rem 1.15rem;
            }

            svg, image {
                width: 16px;
                height: 16px;

                @include is-tablet {
                    width: 1.16rem;
                    height: 1.16rem;
                }
            }
        }

        &--add {
            padding-left: 2.3rem;

            .btn[data-color="transparent"] {
                margin: 14px auto 0 0;
                font-size: 13px;

                .icon.left {
                    margin-right: 7px;
                }
            }

            @include is-tablet {
                display: none;
            }
        }

        &--bar {
            @include is-tablet {
                margin-left: 2rem;
            }
        }

        &__title {
            color: $brighter-main-text-color;
            font-size: 11px;
            display: none;
            margin-bottom: .7rem;

            @include is-tablet {
                font-size: .79rem;
                display: block;
            }
        }

        .progress-bar {
            width: 70px;
            height: 20px;
            background-color: $brighter-main-text-color;
            margin-top: 3px;
            position: relative;

            @include is-pc {
                width: 5rem;
                height: 1.5rem;
                margin-top: 0;
            }

            &-value {
                height: 20px;

                @include is-pc {
                    height: 1.5rem;
                }

                &[data-is-color="orange"] {
                    background-color: $yellow-text;
                }
            }

            &:hover {
                .materials-details__hover {
                    opacity: 1;
                    transition: .2s ease-in;
                }
            }
        }

        &__hover {
            opacity: 0;
            position: absolute;
            bottom: 115%;
            right: 0;
            z-index: 40;
            pointer-events: none;
        }
    }

    .payment-status-hover {
        @include block;
        width: 11.14rem;
        font-size: .86rem;
        word-break: break-word;
        color: $brighter-main-text-color;
        border: 1px solid #E8E8E8;
        padding: 1.2rem 1rem;
        display: flex;
        flex-direction: column;
        gap: .8rem;

        &__row {
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;

            &:before {
                content: "";
                display: inline-block;
                width: 11px;
                height: 11px;
                border-radius: 50%;
                background-color: #EEE;
                margin-right: 7px;

                @include is-tablet {
                    width: .79rem;
                    height: .79rem;
                    margin-right: .5rem;
                }
            }

            &[data-is-color="green"]:before {
                background-color: $green-text;
            }

            &[data-is-color="red"]:before {
                background-color: $red-text;
            }

            &[data-is-color="orange"]:before {
                background-color: $yellow-text;
            }
        }
    }

    .materials-table {
        .table {
            background-color: transparent;
            border-radius: 0;
            border: none;
            padding: 0;

            &__header {
                border: none;
                padding: 0 1.7rem;
                display: none;

                @include is-tablet {
                    display: flex;
                }

                .table__cell {
                    padding-top: 1rem;

                    &:last-of-type {
                        @include is-tablet {
                            min-width: 6rem;
                            padding-left: 0;
                        }
                    }
                }
            }

            &__body {
                @include block;
                overflow: hidden;
                font-size: 11px;

                @include is-tablet {
                    font-size: .86rem;
                }

                &:empty {
                    display: none;
                }

                .table__row {
                    padding: 0 24px;
                    border-bottom: none;
                    position: relative;
                    flex-direction: column;
                    align-items: initial;
                    @include background-on-hover;

                    @include is-tablet {
                        flex-direction: row;
                        align-items: center;
                        padding: 0 1.7rem;
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 24px;
                        right: 24px;
                        height: 1px;
                        background-color: #F2F2F2;

                        @include is-tablet {
                            left: 1.7rem;
                            right: 1.7rem;
                        }
                    }

                    &:last-of-type {
                        &:after {
                            display: none;
                        }
                    }
                }

                .table__cell {
                    padding: 7.5px 0;

                    @include is-tablet {
                        padding: .9rem 1rem;
                    }

                    &:first-of-type {
                        padding-top: 17px;
                        padding-left: 0;

                        @include is-tablet {
                            padding-top: .9rem;
                        }
                    }

                    &:last-of-type {
                        padding: 0 0 22px;

                        @include is-tablet {
                            padding: .9rem 0;
                            min-width: 6rem;
                        }
                    }
                }
            }

            .item {
                display: flex;
                font-size: 12px;

                @include is-tablet {
                    display: block;
                    font-size: .86rem;
                }
            }

            .title {
                margin-right: 11px;
                flex-shrink: 0;
                color: $brighter-main-text-color;
            }

            .value {
                color: $main-text-color;
                font-weight: 500;

                @include is-tablet {
                    color: $brighter-main-text-color;
                    font-weight: initial;
                }
            }

            .status {
                width: fit-content;
                padding: 8px;
                border-radius: 3px;
                margin: 0 0 0 auto;
                background-color: $navy-blue-text-bg;
                color: $navy-blue-text;
                font-size: 11px;

                @include is-tablet {
                    font-size: .79rem;
                    padding: .57rem .57rem .36rem;
                }

                &[data-status="pending"],
                &[data-status="due"] {
                    background-color: $yellow-text-bg;
                    color: $yellow-text;

                    &[data-is-client="true"],
                    &[data-color="submitOptions"],
                    &[data-color="approveOption"],
                    &[data-color="submitQuantity"],
                    &[data-color="addPurchase"],
                    &[data-color="confirmDelivery"] {
                        background-color: $yellow-text;

                        &:hover {
                            background-color: rgba($yellow-text, .9);
                        }
                    }
                }

                &[data-status="delay"],
                &[data-status="inDelay"] {
                    background-color: $red-text-bg;
                    color: $red-text;

                    &[data-is-client="true"],
                    &[data-color="submitOptions"],
                    &[data-color="approveOption"],
                    &[data-color="submitQuantity"],
                    &[data-color="addPurchase"],
                    &[data-color="confirmDelivery"] {
                        background-color: $red-text;

                        &:hover {
                            background-color: rgba($red-text, .9);
                        }
                    }
                }

                &[data-status="completed"],
                &[data-status="approved"] {
                    background-color: $green-text-bg;
                    color: $green-text;

                    &[data-color="submitOptions"],
                    &[data-color="approveOption"],
                    &[data-color="submitQuantity"],
                    &[data-color="addPurchase"],
                    &[data-color="confirmDelivery"] {
                        background-color: $green-text;

                        &:hover {
                            background-color: rgba($green-text, .9);
                        }
                    }
                }

                &[data-status="upComing"] {
                    background-color: rgba($brighter-main-text-color, .1);
                    color: $brighter-main-text-color;
                }

                &[data-is-client="true"]:not([data-status="completed"]),
                &[data-color="submitOptions"],
                &[data-color="approveOption"],
                &[data-color="submitQuantity"],
                &[data-color="addPurchase"],
                &[data-color="confirmDelivery"] {
                    display: flex;
                    align-items: center;
                    color: #FFF;

                    @include is-tablet {
                        padding-left: .7rem;
                    }

                    &:after {
                        content: "";
                        background-image: url("/assets/graphics/next_arrow.svg");
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 100%;
                        display: block;
                        width: 10px;
                        height: 7px;
                        filter: brightness(0) invert(1);
                        flex-shrink: 0;
                        margin-left: 8px;

                        @include is-tablet {
                            width: .71rem;
                            height: .5rem;
                            margin-left: .5rem;
                        }
                    }
                }
            }

            .name {
                display: flex;
                align-items: center;
                font-size: .93rem;
                font-weight: 500;

                &__img {
                    max-width: 100%;
                    max-height: 2.86rem;
                    height: auto;
                    object-fit: contain;

                    &-container {
                        flex-shrink: 0;
                        width: 2.14rem;
                        display: flex;
                        justify-content: center;
                        margin-right: .5rem;

                        &[data-is-empty="true"] {
                            display: none;
                        }
                    }
                }

                .btn {
                    font-size: 13px;
                    font-weight: 600;
                    color: $main-text-color;
                    word-break: break-word;
                    text-align: initial;

                    @include is-tablet {
                        font-size: .93rem;
                        font-weight: 500;
                    }

                    .text:after {
                        background-color: $main-text-color;
                    }
                }
            }
        }
    }

    .materials-images {
        @include block;
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        margin-top: .5rem;

        &:empty {
            display: none;
        }

        &__item {
            width: 100%;
            display: flex;
            align-items: center;
            font-size: 12px;
            font-weight: 500;
            word-break: break-word;
            margin-bottom: 2.5rem;

            @include is-tablet {
                font-size: .93rem;
                width: 23.4%;
                min-width: 13rem;
                margin: 0 1rem 2.5rem 0;
            }

            &-img {
                max-width: 100%;
                max-height: 2.86rem;
                height: auto;
                object-fit: contain;

                &-container {
                    flex-shrink: 0;
                    width: 3.14rem;
                    display: flex;
                    justify-content: center;
                    margin-right: .5rem;

                    &[data-is-empty="true"] {
                        display: none;
                    }
                }
            }
        }
    }

    .client-for-contractor,
    .contractor-for-client,
    .contractor-materials,
    .client-sub-contractor[data-is-client="false"] {
        .table-switch {
            &[data-is-collapsed="false"] {
                .table-switch__details {
                    display: none;
                }
            }

            &[data-is-collapsed="true"] {
                .table-switch__details {
                    display: block;
                }
            }
        }
    }

    .material-delays {
        padding: 0 2.2rem 1rem 2rem;
        border-bottom: 1px solid #E8E8E8;

        &__title {
            font-size: .93rem;
            font-weight: 600;
            margin: 1.5rem 0 .65rem;
        }

        &__content {
            display: flex;
            flex-wrap: wrap;
        }

        &__item {
            display: flex;
            margin: 0 .9rem .5rem 0;
            padding-right: .9rem;
            border-right: 1px solid rgba($brighter-main-text-color, .3);

            &-title {
                font-size: .93rem;
                color: $brighter-main-text-color;
                margin-right: .6rem;
            }

            &-value {
                font-size: .93rem;
                font-weight: 500;
                color: $brighter-main-text-color;
                white-space: nowrap;

                &[data-is-delay="true"] {
                    color: $red-text;
                }
            }

            &:last-of-type {
                border-right: 0;
                margin-right: 0;
                padding-right: 0;
            }
        }
    }
}
