.project-step-biding {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    flex: 1;
    @include block;

    @include is-pc {
        max-height: 45rem;
    }

    .tick {
        width: 4.32rem;
        height: auto;
        margin-bottom: 4.2rem;
    }

    .what-happened {
        font-size: 1.16rem;
        font-weight: 400;
        color: $brighter-main-text-color;
        margin-top: .75rem;
    }

    .what-will-happen {
        font-size: 2rem;
        line-height: 1.1;
        font-weight: 600;
        margin: 1rem 0;

        @include is-tablet {
            font-size: 2.14rem;
            margin: .8rem 0 1.3rem;
        }
    }

    .invite-tip {
        font-size: 1.16rem;
        color: $brighter-main-text-color;
        margin-top: .5rem;
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1.2rem;
        margin-top: 2.4rem;

        .btn:disabled {
            background-color: #D6D6D6;

            &:not([data-color="transparent"]):hover {
                background-color: #D6D6D6;
            }
        }
    }

    .choose-tip {
        font-size: 1rem;
        color: $brighter-main-text-color;
        margin-top: 2rem;

        @include is-tablet {
            font-size: .94rem;
        }
    }

    &__status {
        font-size: 1.4rem;
        color: $brighter-main-text-color;

        &:not(:empty) {
            margin-bottom: 4rem;
        }
    }

    &__participated {
        display: flex;
        gap: .4rem;
        margin-bottom: 2.9rem;

        &-text {
            font-size: 1.14rem;
        }
    }
}
