.toggle {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2rem;
    margin: 1rem;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .checkbox-toggle {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: none;
        border: 1px solid rgb(137, 137, 137);
        transition: .4s;
        border-radius: 1rem;

        &:after {
            position: absolute;
            content: "";
            width: calc(2rem * .7);
            height: calc(2rem * .7);
            left: calc(2rem * .15 - 1px);
            bottom: calc(2rem * .15 - 1px);
            background-color: rgb(137, 137, 137);
            transition: .4s;
            border-radius: 50%;
        }
    }

    input:checked ~ .checkbox-toggle {
        border: 1px solid rgb(30, 66, 138);
    }

    input:focus ~ .checkbox-toggle {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked ~ .checkbox-toggle:after {
        background-color: rgb(30, 66, 138);
        transform: translateX(2rem);
    }

    input:disabled ~ .checkbox-toggle {
        border: 1px solid rgb(204, 204, 204);
        cursor: unset;

        &:after {
            background-color: rgb(204, 204, 204);
        }
    }
}

.toggle-text {
    text-decoration: none;
    position: relative;
    width: fit-content;
    min-width: 8rem;
    min-height: 3.29rem;
    margin: .8rem 0 2.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .toggle-text-value {
        cursor: pointer;
        text-align: center;
        overflow: hidden;
        padding: 1rem;
        width: 50%;
        font-size: 1rem;
        font-weight: 600;
        z-index: $zindex-input-overflow;

        &::selection {
            background: unset;
        }

        @include is-tablet {
            font-size: .94rem;
        }
    }

    input {
        opacity: 0;
        width: 0;
        height: 0;
        position: absolute;
    }

    .checkbox-toggle-text {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgb(240, 242, 247);
        transition: .4s;
        color: #000;
        border-radius: 6px;

        &:after {
            position: absolute;
            content: "";
            height: 83%;
            width: calc(50% - .6rem);
            left: .3rem;
            background-color: rgb(255, 255, 255);
            transition: .4s;
            border-radius: 4px;
            top: 50%;
            transform: translateY(-50%);
            box-shadow: 0 4px 12px #00000012;
        }
    }

    input:checked ~ .checkbox-toggle-text:after {
        transform: translate(calc(100% + .6rem), -50%);
    }

    input:disabled ~ .checkbox-toggle-text {
        border: 1px solid rgb(204, 204, 204, .315);

        &:after {
            background-color: rgb(204, 204, 204, .315);
        }
    }

    input:disabled ~ .toggle-text-value {
        cursor: unset;
        color: rgba(119, 119, 119, .822);
    }
}

.input-text {
    position: relative;
    width: var(--width);

    .input-text-header {
        width: 100%;
        position: relative;
        color: $dark-grey-text;
        font-size: 11px;
        font-weight: 500;
        line-height: 12px;
        text-align: left;
        margin-bottom: .97rem;

        @include is-tablet {
            font-size: 1rem;
            line-height: 1.36rem;
        }

        label::selection {
            background: unset;
        }

        .description {
            font-size: inherit;
            color: $brighter-main-text-color;
            margin-left: .3rem;
        }
    }

    .input-text-input {
        width: 100%;
        padding: 1.25rem;
        font-size: 10px;
        font-family: inherit;
        border-radius: .3rem;
        border: 1px solid $input-border-color;
        transition: .2s;
        outline: none;
        height: 3.5rem;
        display: flex;
        align-items: center;
        line-height: normal;
        text-overflow: ellipsis;

        &[type="search"] {
            appearance: none;
        }

        @include is-tablet {
            font-size: .86rem;
        }

        &::placeholder {
            color: $brighter-main-text-color;
        }

        &:disabled {
            background-color: #D6D6D6;

            &::placeholder {
                color: #FFF;
            }
        }
    }

    .input-text-input:focus {
        border: 1px solid rgb(202, 202, 202);
        box-shadow: 0 3px 5px 0 #4D4D4D21;
    }

    .input-text-input.error {
        border: 1px solid rgb(190, 0, 0);
        box-shadow: 0 0 5px rgb(190, 0, 0);
    }

    .input-text-input.error:focus {
        border: 1px solid rgb(190, 0, 0);
        box-shadow: 0 0 5px rgb(190, 0, 0);
    }

    .btn[data-color="transparent"] {
        position: absolute;
        top: calc(1.36rem + .97rem + 1.25rem);
        right: 1.5rem;
    }

    &[data-is-password="true"] {
        .input-text-input {
            padding-right: 4rem;
        }

        svg, image {
            width: 3rem;
            height: 1.4rem;
        }
    }
}

.checkbox-radio {
    position: relative;
    display: flex;
    width: var(--width-checkbox-radio);
    color: #000;
    font-size: 1rem;

    @include is-tablet {
        font-size: .94rem;
    }

    input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
    }

    .checkbox-radio-option {
        display: flex;
        cursor: pointer;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        margin-right: 2.8rem;

        &[data-is-disabled="true"] {
            cursor: default;
        }

        .checkbox-radio-input {
            content: "";
            width: 1.4rem;
            height: 1.4rem;
            margin: 0 .8rem 0 0;
            border: 2px solid #FFF;
            box-shadow: 0 0 0 1px $input-border-color;
            border-radius: 50%;
            background-clip: padding-box;
            transition: ease-in-out .2s;

            @include is-tablet {
                width: 1.07rem;
                height: 1.07rem;
            }
        }

        &:hover .checkbox-radio-input {
            box-shadow: 0 0 0 1px $navy-blue-text;
            background-color: $navy-blue-text;
        }

        input:checked ~ .checkbox-radio-input {
            box-shadow: 0 0 0 1px $navy-blue-text;
            background-color: $navy-blue-text;
        }

        input:disabled {
            &:checked ~ .checkbox-radio-input {
                box-shadow: 0 0 0 1px $brighter-main-text-color;
                background-color: $brighter-main-text-color;
            }

            &:not(:checked):hover ~ .checkbox-radio-input {
                background-color: initial;
                box-shadow: 0 0 0 1px $input-border-color;
            }
        }
    }
}

[dir="rtl"] {
    input[dir="ltr"] {
        /*!rtl:ignore*/
        direction: rtl;
    }
}
