.page[data-name="client buy-tab"] {
    .client-nav-banner {
        &__left {
            background-image: url("/assets/graphics/buy_image.png");
        }

        &__right {
            &-icon {
                width: 28px;
                height: 36px;
                margin-bottom: 1.6rem;

                @include is-tablet {
                    width: 2.93rem;
                    height: 3.71rem;
                }

                svg, image {
                    width: 28px;
                    height: 36px;

                    @include is-tablet {
                        width: 2.93rem;
                        height: 3.71rem;
                    }
                }
            }

            &-text {
                max-width: 20rem;
            }

            .btn {
                .icon {
                    width: initial;
                    height: initial;

                    svg, image {
                        width: 14px;
                        height: 7px;

                        @include is-tablet {
                            width: 1rem;
                            height: .71rem;
                        }
                    }
                }
            }

            &-bank {
                margin-top: 10px;
                display: flex;
                align-items: center;

                @include is-tablet {
                    margin-top: 1rem;
                }

                &-info {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    font-size: .86rem;
                }

                &-img {
                    width: 3.5rem;
                    height: 3.5rem;
                    margin-top: .3rem;
                }

                &-title {
                    color: rgba(#FFF, .44);
                    margin-bottom: .5rem;
                }
            }
        }
    }
}
