.services {
    margin: 2.72rem 0 2.8rem;

    &__header {
        display: flex;
        align-items: center;
        margin-bottom: 1.1rem;

        .btn {
            font-size: 1rem;
            font-weight: 500;
        }
    }

    &__title {
        color: $dark-grey-text;
        font-size: 1.29rem;
        font-weight: 500;
        display: flex;

        &-num {
            color: $brighter-main-text-color;
            font-size: 1.14rem;
            margin-left: .4rem;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
        align-items: flex-start;
        gap: 2rem;

        @include is-pc {
            grid-template-columns: 1fr 1fr;
        }

        &-price {
            color: $navy-blue-text;
            font-size: 1.07rem;
            font-weight: 500;
            word-break: break-word;
            margin: 1.7rem 0 .55rem;
            display: flex;
            align-items: center;
        }

        &-desc {
            color: $brighter-main-text-color;
            font-size: .86rem;
            font-weight: 500;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;

        &:empty {
            display: none;
        }
    }

    &__item {
        display: grid;
        grid-template-columns: 2.7rem 1fr;
        align-items: center;
        gap: 0 .9rem;
        padding: .35rem 0;

        &-img {
            max-width: 100%;
            height: 2.9rem;
            object-fit: contain;
            display: block;
        }

        &-title {
            color: $dark-grey-text;
            font-size: 1.07rem;
            font-weight: 500;
        }

        &-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .5rem 0;
        }

        &-price {
            color: $navy-blue-text;
            font-size: 1.07rem;
            font-weight: 500;
            word-break: break-word;
        }

        &--right {
            gap: 0 .5rem;

            .services__item-img {
                &--auto {
                    height: auto;
                }
            }
        }
    }

    &[data-view-price="true"] {
        .services {
            &__header {
                margin-bottom: 1rem;
            }

            &__items {
                @include block;
                padding: 1rem 1.2rem;

                &--right {
                    padding: 0 1.2rem;
                }
            }

            &__item--right {
                padding: .7rem 0;
                min-height: 4.84rem;
                position: relative;
                grid-template-columns: 2.45rem 1fr;

                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: -1.2rem;
                    width: calc(100% + 1.2rem + 1.2rem);
                    height: 1px;
                    background-color: $border-color;
                }

                &:last-of-type:after {
                    display: none;
                }
            }
        }
    }
}
