.side-modal[data-variant="stage-view"] {
    max-width: 450px;
    width: 100%;
    padding: 26px 0 0;

    @include is-tablet {
        max-width: initial;
        width: 37.14rem;
        padding-top: 2.2rem;
    }

    .side-modal {
        &__header {
            margin: 0 27px 10px 31px;

            @include is-tablet {
                margin: 0 2.42rem .85rem 2.28rem;
            }

            .close {
                line-height: 1.71rem;
            }

            &-title {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;

                @include is-tablet {
                    display: grid;
                    grid-template-columns: auto auto;
                }
            }
        }

        &__content {
            width: 100%;
            flex: 1;
            padding: .5rem 0 1rem;
            overflow-y: auto;
        }
    }

    .stage-view {
        &__name {
            font-size: 18px;
            font-weight: 500;

            @include is-tablet {
                font-size: 1.28rem;
            }
        }

        &__status {
            font-size: 12px;
            width: fit-content;
            padding: 8px 14px;
            margin-top: 18px;
            font-weight: 400;
            border-radius: 3px;
            color: $navy-blue-text;
            background-color: $navy-blue-text-bg;
            display: flex;
            align-items: center;

            @include is-tablet {
                font-size: .79rem;
                padding: .57rem 1rem;
                margin: -.3rem 0 0 1rem;
            }

            &:before {
                margin-right: 8px;

                @include is-tablet {
                    margin-right: .5rem;
                }

                &:empty {
                    margin-right: 0;
                }
            }

            &-text {
                margin-top: .2rem;
            }

            &[data-status="upcoming"] {
                color: $brighter-main-text-color;
                background-color: rgba($brighter-main-text-color, .1);
                @include before-icon("/assets/graphics/upcoming_icon.svg");
            }

            &[data-status="currentStage"] {
                color: $yellow-text;
                background-color: $yellow-text-bg;
                @include before-icon("/assets/graphics/clock.svg");

                &:before {
                    filter: invert(63%) sepia(46%) saturate(1421%) hue-rotate(8deg) brightness(98%) contrast(99%);
                }
            }

            &[data-status="completed"] {
                color: $green-text;
                background-color: $green-text-bg;
                @include before-icon("/assets/graphics/tick.svg");
            }

            &[data-status="inDelay"] {
                color: $red-text;
                background-color: $red-text-bg;
                @include before-icon("/assets/graphics/in_delay_icon.svg");
            }

            &[data-status="none"] {
                display: none;
            }
        }

        &__info {
            margin: 0 2.21rem 0 2rem;

            &-title {
                font-size: 13px;
                color: $brighter-main-text-color;
                margin-right: .6rem;

                @include is-tablet {
                    font-size: .93rem;
                }
            }

            &-value {
                font-size: 13px;
                font-weight: 600;
                word-break: break-word;

                @include is-tablet {
                    font-size: .93rem;
                }

                .delay {
                    font-size: 13px;
                    color: $red-text;
                    font-weight: 500;
                    word-break: break-word;

                    @include is-tablet {
                        font-size: .93rem;
                    }
                }
            }

            &-desc {
                font-size: 13px;
                line-height: 21px;
                color: $brighter-main-text-color;
                word-break: break-word;
                margin: 1.3rem 0 2rem;

                @include is-tablet {
                    font-size: .93rem;
                    line-height: 1.5rem;
                }
            }
        }

        &__dates {
            padding: 1.3rem 2.21rem .7rem 2rem;
            background-color: #FAFBFF;
            border-top: 1px solid #E8E8E8;
            border-bottom: 1px solid #E8E8E8;

            &-content {
                display: grid;
                grid-template-columns: 46% 46%;
                justify-content: space-between;
            }

            &-item {
                display: flex;
                flex-direction: column;
            }

            &-title {
                font-size: 13px;
                font-weight: 600;
                margin-bottom: 1rem;

                @include is-tablet {
                    font-size: .93rem;
                }
            }

            &-value {
                font-size: 18px;
                font-weight: 600;
                word-break: break-word;
                color: $navy-blue-text;

                @include is-tablet {
                    font-size: 1.28rem;
                }
            }
        }

        &__delays {
            &-title {
                font-size: .93rem;
                font-weight: 600;
                margin: 1.5rem 0 .65rem;
                border-top: 1px solid #E8E8E8;
                line-height: 4em;

                .calculatedDays {
                    padding-left: 3px;
                    &[data-is-delay="true"] {
                        color: $red-text;
                    }

                    &[data-is-nodelay="true"] {
                        color: $brighter-main-text-color;
                    }

                    &[data-is-ahead="true"] {
                        color: $green-text;
                    }
                }
            }

            &-content {
                display: flex;
                flex-wrap: wrap;
            }

            &-item {
                display: flex;
                margin: 0 .9rem .5rem 0;
                padding-right: .9rem;
                border-right: 1px solid rgba($brighter-main-text-color, .3);

                &-title {
                    font-size: .93rem;
                    color: $brighter-main-text-color;
                    margin-right: .6rem;
                }

                &-value {
                    font-size: .93rem;
                    font-weight: 500;
                    color: $brighter-main-text-color;
                    white-space: nowrap;

                    &[data-is-delay="true"] {
                        color: $red-text;
                    }
                }

                &:last-of-type {
                    border-right: 0;
                    margin-right: 0;
                    padding-right: 0;
                }
            }
        }

        &__row {
            display: grid;
            grid-template-columns: auto 1fr;
            margin-bottom: 1rem;
        }

        &__updates {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 2rem;
                right: 2.21rem;
                height: 1px;
                background-color: #E8E8E8;
            }

            &-title {
                font-size: 14px;
                font-weight: 500;
                padding: 2.4rem 0 1.2rem;
                margin: 0 2.21rem 0 2rem;

                @include is-tablet {
                    font-size: 1.14rem;
                }

                &-num {
                    font-size: 12px;
                    font-weight: 400;
                    color: $brighter-main-text-color;

                    @include is-tablet {
                        font-size: 1rem;
                    }
                }
            }

            .updates {
                position: relative;
                padding: 2rem 2.21rem 0 2rem;
                transition: .2s ease-in;

                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 2rem;
                    right: 2.21rem;
                    height: 1px;
                    background-color: #E8E8E8;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 3px;
                    background-color: $navy-blue-text;
                    opacity: 0;
                }

                &:last-of-type:before {
                    display: none;
                }

                &__title {
                    font-size: 13px;
                    font-weight: 600;
                    margin-bottom: 9px;
                    display: flex;

                    @include is-tablet {
                        font-size: .93rem;
                        margin-bottom: .6rem;
                    }

                    &-num {
                        color: $brighter-main-text-color;
                    }

                    &-text {
                        flex: 1;
                    }

                    &-btns {
                        display: flex;
                        align-items: center;

                        .button {
                            .btn {
                                .icon {
                                    padding-left: .2rem;
                                    filter: var(--icon-dark-gray);
                                }

                                &:hover {
                                    .icon {
                                        filter: brightness(.5);
                                    }
                                }
                            }

                            &--edit {

                                svg,
                                image {
                                    width: 14px;
                                    height: 14px;
                                }
                            }

                            &--delete {
                                margin-left: 1.2rem;

                                svg,
                                image {
                                    width: 15px;
                                    height: 16px;
                                }
                            }
                        }
                    }
                }

                &__desc {
                    color: $brighter-main-text-color;
                    font-size: 12px;
                    line-height: 1.5rem;
                    word-break: break-word;
                    margin-bottom: 11px;

                    @include is-tablet {
                        font-size: .86rem;
                        margin-bottom: .8rem;
                    }
                }

                &__img-container {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 1.8rem;

                    &:empty {
                        margin-bottom: 1rem;
                    }
                }

                &__img {
                    width: 3.86rem;
                    height: 3.86rem;
                    object-fit: cover;
                    display: block;
                    margin: 0 .5rem .5rem 0;
                }

                &__submitted {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 1.6rem;

                    &-text {
                        font-size: 11px;
                        color: $brighter-main-text-color;

                        @include is-tablet {
                            font-size: .79rem;
                        }
                    }

                    &-btn {
                        font-size: 12px;
                        flex-shrink: 0;
                        display: flex;
                        align-items: center;
                        border: 1px solid #D8D8D8;
                        border-radius: 1.14rem;
                        padding: .6rem .79rem .4rem;
                        margin-left: 1rem;
                        transition: box-shadow .12s ease-in;
                        cursor: pointer;

                        .icon-box {
                            margin-left: .85rem;
                        }

                        svg,
                        image {
                            width: 16px;
                            height: 14px;

                            @include is-tablet {
                                width: 1.14rem;
                                height: 1.07rem;
                            }
                        }

                        &:hover {
                            box-shadow: 0 2px 6px #00000029;
                        }

                        @include is-tablet {
                            font-size: 1rem;
                        }
                    }
                }

                &__comments {
                    animation: fade-in .2s ease-in;
                }

                &__comment {
                    position: relative;
                    animation: fade-in .2s ease-in;
                    border-bottom: 1px solid #DBDADA;
                    border-top: 1px solid #DBDADA;
                    padding: 1rem 0;

                    .dropzone {
                        position: absolute;
                        top: 1.1rem;
                        right: 2rem;
                        padding: 0;
                        width: fit-content;

                        .btn {
                            background-color: transparent;
                            border-radius: 0;
                        }
                    }

                    .file-list {
                        padding-bottom: 1rem;

                        &:empty {
                            display: none;
                        }
                    }

                    &-btn-send {
                        position: absolute;
                        top: 1.65rem;
                        right: 0;

                        .btn {

                            svg,
                            image {
                                width: 14px;
                                height: 14px;

                                @include is-tablet {
                                    width: 1.21rem;
                                    height: 1.21rem;
                                }
                            }
                        }
                    }
                }

                .textarea__input {
                    background-color: transparent;
                    border: 0;
                    border-radius: 0;
                    width: calc(100% - 5rem);
                    padding: .5rem 0 0;
                    max-height: 3rem;
                    overflow: auto;

                    &:focus {
                        box-shadow: none;
                        border: none;
                    }
                }

                .textarea__header {
                    display: none;
                }

                .textarea__placeholder {
                    left: 0;
                    top: .5rem;
                }

                &[data-is-open="true"] {
                    background-color: #FAFBFF;

                    &:after {
                        opacity: 1;
                    }

                    .task-updates__item-submitted {
                        &-btn {
                            color: $navy-blue-text;

                            .icon {
                                filter: brightness(0) saturate(100%) invert(17%) sepia(79%) saturate(1577%) hue-rotate(204deg) brightness(101%) contrast(90%);
                            }
                        }
                    }
                }
            }
        }

        &__items {
            &-title {
                font-size: 14px;
                font-weight: 500;
                padding: 2.4rem 0 .5rem;
                margin: 0 2.21rem 0 2rem;

                @include is-tablet {
                    font-size: 1.14rem;
                }

                &-num {
                    font-size: 12px;
                    font-weight: 400;
                    color: $brighter-main-text-color;

                    @include is-tablet {
                        font-size: 1rem;
                    }
                }
            }

            .stage-items {
                position: relative;
                padding: 1.3rem 2.21rem 1.21rem 2rem;
                transition: .2s ease-in;

                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 2rem;
                    right: 2.21rem;
                    height: 1px;
                    background-color: #E8E8E8;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 3px;
                    background-color: $navy-blue-text;
                    opacity: 0;
                }

                &[data-is-open="true"] {
                    background-color: #FAFBFF;

                    &:after {
                        opacity: 1;
                    }

                    .icon-box {
                        /*!rtl:ignore*/
                        transform: rotateZ(90deg);
                    }
                }

                &__header {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    &-img {
                        max-width: 100%;
                        max-height: 2.86rem;
                        height: auto;
                        object-fit: contain;

                        &-container {
                            flex-shrink: 0;
                            width: 2.14rem;
                            display: flex;
                            justify-content: center;
                            margin-right: 10px;

                            @include is-tablet {
                                margin-right: .5rem;
                            }

                            &[data-is-empty="true"] {
                                display: none;
                            }
                        }
                    }

                    &-name {
                        flex: 1;
                        margin-right: .5rem;
                        font-size: 13px;
                        font-weight: 600;
                        word-break: break-word;

                        @include is-tablet {
                            font-size: .93rem;
                        }
                    }

                    .icon-box {
                        flex-shrink: 0;
                        transition: transform .25s ease-in-out;

                        svg,
                        image {
                            width: 6px;
                            height: 11px;

                            @include is-tablet {
                                width: .43rem;
                                height: .79rem;
                            }
                        }
                    }
                }

                &__content {
                    animation: fade-in .2s ease-in;
                }

                &__item {
                    display: grid;
                    grid-template-columns: auto auto auto;
                    justify-content: flex-start;
                    font-size: 12px;
                    padding: .8rem 0;

                    &:first-of-type {
                        padding-top: 1.2rem;
                    }

                    @include is-tablet {
                        font-size: .86rem;
                    }

                    &-dot {
                        flex-shrink: 0;
                        margin-right: 10px;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background-color: $brighter-main-text-color;

                        @include is-tablet {
                            margin-right: .5rem;
                            width: .86rem;
                            height: .86rem;
                        }

                        &[data-status="completed"] {
                            background-color: $green-text;
                        }

                        &[data-status="due"] {
                            background-color: $yellow-text;
                        }

                        &[data-status="inDelay"] {
                            background-color: $red-text;
                        }
                    }

                    &-title {
                        width: fit-content;
                        font-weight: 500;
                        padding-right: 1rem;
                        margin-right: 1rem;
                        border-right: 1px solid rgba(#707070, .3);
                        word-break: break-word;

                        &:empty {
                            display: none;
                        }
                    }

                    &-text {
                        width: fit-content;
                        word-break: break-word;
                        color: $brighter-main-text-color;
                    }
                }
            }
        }

        .comment {
            display: grid;
            grid-template-columns: auto 1fr;
            border-top: 1px solid #E8E8E8;
            padding: 1rem 0;

            &:first-child {
                padding-top: 0;
                border: none;
            }

            &__avatar {
                width: 2.86rem;
                height: 2.86rem;
                object-fit: cover;
                border-radius: 50%;
                position: relative;
                margin-right: 1rem;

                &[src=""],
                &:not([src]) {
                    @include empty-img("/assets/graphics/blue_avatar.svg");
                }
            }

            &__right {
                display: flex;
                flex-direction: column;
            }

            &__row {
                font-size: 11px;
                display: grid;
                grid-template-columns: auto auto;
                justify-content: flex-start;
                margin-bottom: 1rem;

                @include is-tablet {
                    font-size: .86rem;
                }
            }

            &__name {
                margin-right: 1rem;

                &:empty {
                    display: none;
                }
            }

            &__date {
                font-size: 10px;
                color: $brighter-main-text-color;
                word-break: break-word;

                @include is-tablet {
                    font-size: .79rem;
                }
            }

            &__desc {
                font-size: 11px;
                font-weight: 500;
                word-break: break-word;
                margin-bottom: 1rem;

                @include is-tablet {
                    font-size: .86rem;
                }

                &:empty {
                    display: none;
                }
            }

            &__images {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: .4rem;

                &:empty {
                    display: none;
                }
            }

            &__img {
                width: 3.86rem;
                height: 3.86rem;
                object-fit: cover;
                display: block;
                margin: 0 .5rem .5rem 0;
            }
        }

        .task-summary {
            margin: 0 2.21rem 0 2rem;
            padding: 2.3rem 0 1.5rem;
            border-bottom: 1px solid #E8E8E8;

            &__title {
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 1.25rem;

                @include is-tablet {
                    font-size: 1.14rem;
                }
            }

            &__row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            &__item {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                font-size: 12px;
                margin: 0 .7rem .8rem 0;

                &:last-of-type {
                    margin-right: 0;
                }

                @include is-tablet {
                    font-size: .93rem;
                }

                &-title {
                    color: $brighter-main-text-color;
                    margin-right: .5rem;
                }

                &-value {
                    color: $brighter-main-text-color;
                    background-color: rgba($brighter-main-text-color, .1);
                    padding: .57rem .64rem .36rem;
                    border-radius: 3px;
                    text-align: center;
                    min-width: 2.21rem;
                }

                &--due {
                    .task-summary__item-value {
                        color: $yellow-text;
                        background-color: $yellow-text-bg;
                    }
                }

                &--completed {
                    .task-summary__item-value {
                        color: $green-text;
                        background-color: $green-text-bg;
                    }
                }

                &--in-delay {
                    .task-summary__item-value {
                        color: $red-text;
                        background-color: $red-text-bg;
                    }
                }
            }
        }
    }
}