.logo-list-previous {
    margin-bottom: 1.5rem;

    &__box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .logo-icon {
        width: 2.86rem;
        height: 2.86rem;
        object-fit: cover;
        border-radius: 50%;
        background-color: #FFF;
        position: relative;
        overflow: hidden;
        display: block;

        &[src=""], &:not([src]) {
            @include empty-img("/assets/graphics/example_logo.jpg");
        }

        &-container {
            margin-left: -.5rem;
            width: 2.86rem;
            height: 2.86rem;
            border-radius: 50%;
            box-shadow: 0 2px 6px #0000002F;

            &--more {
                transform: rotate(90deg);
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #FFF;

                .logo-icon {
                    width: 3px;
                    height: 15px;
                    border-radius: 0;
                }
            }
        }
    }
}
