.company-detail {
    &__header {
        font-size: 2rem;
        font-weight: 600;
        margin: 3.5rem 0 2.7rem;
    }

    .title {
        position: relative;
        font-size: 1.07rem;
        font-weight: 600;
        width: 100%;
        margin: .45rem 0 3.25rem;
        @include left-line(5px, 2.28rem, 2.07rem, $brighter-main-text-color);

        .optional-text {
            font-size: 1.07rem;
            font-weight: 400;
            color: $brighter-main-text-color;
            margin-left: .3rem;
        }
    }

    &-box {
        @include block;
        margin: 1.1rem 0 1.5rem;
        padding: 1.8rem 2.07rem 3rem;
        position: relative;
        animation: fade-in .22s linear;

        &__edit-btn {
            position: absolute;
            top: 1.3rem;
            right: 1.7rem;
            z-index: 2;

            .btn--circle {
                box-shadow: 0 3px 6px #0000001A;
                width: 3.29rem;
                height: 3.29rem;
                transition: box-shadow .12s ease-in;

                .icon {
                    filter: saturate(0);
                }

                svg, image {
                    width: 1.21rem;
                    height: 1.21rem;
                }

                &:hover {
                    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
                }
            }
        }
    }
}
