.company-forms--contractor-services {
    .form {
        .checkbox-multiple {
            height: auto;
            font-size: 1rem;
            gap: 0 1.5rem;

            @include is-tablet {
                font-size: .92rem;
            }

            &-option {
                width: calc((100% - 1.5rem) / 2);
                padding: 0;
                margin-bottom: 1.85rem;
                color: $dark-grey-text;

                .checkbox-multiple-checkbox {
                    width: 1.4rem;
                    height: 1.4rem;
                    margin: 0 .66rem 0 0;

                    @include is-tablet {
                        width: 1.14rem;
                        height: 1.14rem;
                    }
                }
            }
        }

        .input-array {
            &-input {
                width: calc((100% - 1.5rem) / 2);
            }

            &-name {
                margin: .3rem 0 .5rem;
            }

            &-results {
                margin-bottom: 0;
            }
        }
    }
}
