$section-vertical-padding: 1.38rem;
$place-for-scroll: 1.6rem;

.help {
    padding: 2.29rem .5rem 0 1.29rem;
    height: 100%;
    display: flex;
    flex-direction: column;

    .top {
        display: flex;
        align-items: center;
        margin-bottom: 2.1rem;
        padding-left: 1rem;

        &__title {
            font-size: 1.29rem;
            font-weight: 600;
        }
    }

    &__main {
        overflow: auto;
        overflow-x: hidden;
        flex: 1;
        padding-left: 1rem;
    }

    &__sections {
        width: calc(37.1rem - .5rem - 2.29rem);
    }

    .section {
        @include block;
        @include box-shadow-on-hover;
        padding: 0 2.2rem $section-vertical-padding 1.8rem;
        margin-bottom: 1.07rem;
        width: calc(100% - $place-for-scroll);
        user-select: none;
        cursor: pointer;

        &__title {
            padding: $section-vertical-padding 0 0;
            font-size: 1.07rem;
            font-weight: 600;
            line-height: 1.57rem;
            display: flex;
            justify-content: space-between;

            &:after {
                content: url("/assets/graphics/expand_section.svg");
                width: .86rem;
                height: .86rem;
            }
        }

        &__content {
            font-size: .86rem;
            line-height: 1.5rem;
            color: $brighter-main-text-color;
            overflow: hidden;
            max-height: 0;
            transition: max-height .55s;
            transition-property: max-height, opacity;
            display: flex;
            flex-direction: column;
            opacity: 0;

            &:before {
                content: "";
                height: .7rem;
            }
        }

        &[data-is-expanded="true"] {
            .section__title {
                color: $navy-blue-text;

                &:after {
                    content: url("/assets/graphics/collapse_section.svg");
                }
            }

            .section__content {
                max-height: 200px;
                opacity: 1;
            }
        }
    }

    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 2.43rem 2.43rem 0 0;
        margin: 0 $place-for-scroll 0 1rem;
        padding: 4.1rem 2rem 2.4rem;
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(240, 242, 247, 1) 100%);
        position: relative;

        &__phone-icon {
            position: absolute;
            background-color: #FFF;
            background-size: 2.43rem;
            width: 5rem;
            height: 5rem;
            box-shadow: 0 1px 21px #00000022;
            border-radius: 50%;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: box-shadow .12s ease-in;

            &:hover {
                box-shadow: 0 1px 21px rgba(0, 0, 0, .21);
            }

            .icon-box {
                display: flex;
                align-items: center;
                justify-content: center;

                svg, image {
                    width: 2.4rem;
                    height: 2.4rem;
                    filter: brightness(0) saturate(100%) invert(74%) sepia(68%)
                        saturate(2824%) hue-rotate(87deg) brightness(92%) contrast(98%);
                }
            }
        }

        &__tip {
            font-size: .96rem;
            font-weight: 600;
            margin-bottom: 1.2rem;
        }

        &__number {
            font-size: 1.29rem;
            font-weight: 600;
            color: $navy-blue-text;
            text-decoration: none;
            position: relative;
            transition: color .12s ease-in-out;

            &:hover {
                color: $green-text;
            }
        }
    }
}
